<%
  if params["choice"] == "dosearch"
    args = {"orderby" => "name"}
    args["name_search"] = params["texname"] if params["texname"].to_s.length > 0
    
    ranks = _ob.list(:User_rank, args)
    
    %>
      <%=DesignBox.boxt(_("Results"), 350)%>
        <table class="list">
          <thead>
            <tr>
              <th><%=_"Rank"%></th>
            </tr>
          </thead>
          <tbody>
            <%
              ranks.each do |rank|
                %>
                  <tr>
                    <td>
                      <a href="javascript: <%=params["jsfunc"]%>('<%=rank.id%>');"><%=rank.name.html%></a>
                    </td>
                  </tr>
                <%
              end
              
              if ranks.empty?
                %>
                  <tr>
                    <td colspan="1" class="error">
                      <%=_"No ranks were found."%>
                    </td>
                  </tr>
                <%
              end
            %>
          </tbody>
        </table>
      <%=DesignBox.boxb%>
    <%
    
    exit
  end
%>

<form id="formuserranksearch" method="post" onsubmit="return do_user_rank_search_submit();">

<%=DesignBox.boxt(_("Enter criteria"), 350)%>
  <table class="form">
    <%
      print Knj::Web.inputs([{
        :title => _("Name"),
        :name => :texname,
        :value => params["texname"],
        :descr => _("Enter a part of the name of the permission you are searching for.")
      }])
    %>
    <tr>
      <td colspan="2" class="buttons">
        <input type="submit" value="<%=_"Search"%>" />
      </td>
    </tr>
  </table>
<%=DesignBox.boxb%>

</form>

<br />

<div id="divuserranksearchresults">
  <div class="error">
    <%=_"Please enter criteria and search..."%>
  </div>
</div>

<script type="text/javascript">
  function do_user_rank_search_submit(){
    $.ajax({
      type: "POST",
      data: forms_inputs_read($("#formuserranksearch")),
      url: "/clean.rhtml?show=user_rank_search&choice=dosearch&jsfunc=<%=params["jsfunc"]%>",
      async: true,
      cache: false,
      complete: function(data){
        $("#divuserranksearchresults").slideUp("fast", function(){
          $("#divuserranksearchresults").html(data.responseText);
          $("#divuserranksearchresults").slideDown("fast");
        });
      }
    });
    
    return false;
  }
</script>