= DesignBox.boxt(_("Enter details"))
= simple_form_for @timelog, remote: true do |f|
  = f.input :task_id, collection: Task.order(:id), include_blank: true
  = f.input :time
  = f.input :time_transport
  = f.input :transport_length
  = f.input :date
  = f.input :invoiced
  = f.input :comment
  = f.submit _("Save")                                              |
= DesignBox.boxb
