<%
  if params["choice"] == "domarktimelogsasinvoiced"
    params["tlog_ids"].split(";").each do |tlog_id|
      tlog = _ob.get(:Timelog, tlog_id)
      tlog[:invoiced] = 1 if !tlog.invoiced?
    end
    
    exit
  end
  
  content_for(:header_title){ _("Timelogs") }
%>

<form method="get" id="form_filter">
<%= Knj::Web.hiddens([{:name => :choice, :value => :dosearch}, {:name => :users, :value => ""}, {:name => :projects, :value => ""}]).html_safe %>

<%=DesignBox.boxt(_("Enter criteria"), "400px")%>
  <table class="form">
    <%= Knj::Web.inputs([{
      :title => _("Date from"),
      :name => :texdatefrom,
      :value => @date_from.out(:time => false),
      :descr => _("If you only want timelogs from a specific date and up.")
    },{
      :title => _("Date to"),
      :name => :texdateto,
      :value => @date_to.out(:time => false),
      :descr => _("If you only want timelogs up to a specific date.")
    },{
      :title => _("Comment"),
      :name => "q[comment_cont]",
      :value => @ransack_params[:comment_cont],
      :descr => _("A part of the comment in the timelog you are looking for.")
    },{
      :title => _("Users"),
      :name => :seluser,
      :opts => knjrbfw_opts(User.order(:name)),
      :multiple => true,
      :size => 5,
      :values => params["users"].to_s.split(";").map{|ele| ele.to_i},
      :descr => _("If you want to find timelogs from specific users.")
    },{
      :title => _("Projects"),
      :name => :selproject,
      :opts => knjrbfw_opts(Project.order(:name)),
      :multiple => true,
      :size => 5,
      :values => params["projects"].to_s.split(";").map{|ele| ele.to_i},
      :descr => _("If you want to find timelogs from specific projects.")
    },{
      :title => _("Invoiced"),
      :name => :selinvoiced,
      :value => params["selinvoiced"],
      :descr => _("If you only want to view invoiced, uninvoiced or all timelogs."),
      :opts => {
        "" => _("All"),
        "1" => _("Only invoiced"),
        "0" => _("Only un-invoiced")
      }
    }]).html_safe %>
    <tr>
      <td colspan="2" class="buttons">
        <input type="submit" value="<%=_("Search")%>" />
      </td>
    </tr>
  </table>
<%=DesignBox.boxb%>

</form>

<% if params["choice"] == "dosearch" %>
  <br />
  
  <%=DesignBox.boxt(_("Sum"), "350px")%>
    <table class="form">
      <%= Knj::Web.inputs([{
        :title => _("Total hours"),
        :type => :info,
        :value => Knj::Locales.number_out(timelogs_from_params.sum(:time).to_f / 3600, 1) + " / " + Knj::Locales.number_out(timelogs_from_params.sum(:time_transport).to_f / 3600, 1),
        :descr => _("The total amount of hours of all the found time-logs (first hours used then time used on transport).")
      },{
        :title => _("Total transport"),
        :type => :info,
        :value => Knj::Locales.number_out(timelogs_from_params.sum(:transport_length), 1),
        :descr => _("Total km's of transport used in all the timelogs found.")
      }]).html_safe %>
    </table>
  <%=DesignBox.boxb%>
  
  <br />
  
  <%=DesignBox.boxt(_("Results"))%>
    <table class="form">
      <thead>
        <tr>
          <th><%= Timelog.model_name.human %></th>
          <th><%= User.model_name.human %></th>
          <th><%= Timelog.human_attribute_name(:date) %></th>
          <th><%= Task.model_name.human %></th>
          <th><%= Project.model_name.human %></th>
          <th><%= Customer.model_name.human %></th>
          <th><%= Timelog.human_attribute_name(:invoiced) %></th>
          <th><%= Timelog.human_attribute_name(:time) %> / <%=_"Transport"%></th>
          <th><%= Timelog.human_attribute_name(:transport_length) %></th>
        </tr>
      </thead>
      <tbody>
        <%
          tlogs_sorted = {}
          timelogs_from_params.find_each do |tlog|
            dbt = Baza::Dbtime.new(time_as_string(tlog.time))
            dbt_transport = Baza::Dbtime.new(time_as_string(tlog.time_transport))
            tlogs_sorted[tlog.task_id] = [] if !tlogs_sorted.has_key?(tlog.task_id)
            tlogs_sorted[tlog.task_id] << tlog
            
            %>
              <tr>
                <td><%= link_to_timelog tlog %></td>
                <td><%= link_to_user tlog.user %></td>
                <td><%= l(tlog.date) %></td>
                <td><%= link_to_task tlog.task %></td>
                <td><%= link_to_project tlog.task.project %></td>
                <td><%= link_to_customer tlog.task.project.customer %></td>
                <td>
                  <%= Knj::Strings.yn_str(tlog.invoiced?, _("Yes"), _("No")) %>
                </td>
                <td>
                  <%= Knj::Locales.number_out(dbt.hours_total, 1)%> / <%=Knj::Locales.number_out(dbt_transport.hours_total, 1) %>
                </td>
                <td>
                  <%= Knj::Locales.number_out(tlog.transport_length, 0) %>
                </td>
              </tr>
            <%
          end
        %>
        <% if timelogs_from_params.empty? %>
          <tr>
            <td colspan="1" class="error">
              <%=_("No timelogs were found.")%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%=DesignBox.boxb%>
  
  <br />
  
  <%=DesignBox.boxt(_("Customer message"))%>
    <table class="list" id="table_customer_message">
      <thead>
        <tr>
          <th><%=_"Date"%>/<%=_"Hours"%></th>
          <th><%=_"User"%></th>
          <th><%=_"Description"%></th>
        </tr>
      </thead>
      <tbody>
        <%
          tlogs_sorted.each do |task_id, tlogs_arr|
            task = Task.find(task_id)
            
            %>
              <tr>
                <td colspan="3" class="tdt" style="padding-top: 10px;">
                  <%= link_to_task task %>
                </td>
              </tr>
            <%
            
            tlogs_arr.each do |tlog|
              dbt = Baza::Dbtime.new(time_as_string(tlog.time))
              dbt_transport = Baza::Dbtime.new(time_as_string(tlog.time_transport))
              
              %>
                <tr>
                  <td colspan="3"><hr size="1" color="#cfcfcf" /></td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    <input type="hidden" name="timelogs_<%=tlog.id%>" value="1" />
                    
                    <%= l(tlog.date) %><br />
                    <%= Knj::Locales.number_out(dbt.hours_total, 2) %> / <%= Knj::Locales.number_out(dbt_transport.hours_total, 2) %>
                  </td>
                  <td class="nowrap">
                    <%= link_to_user tlog.user %>
                  </td>
                  <td>
                    <%= simple_format tlog.comment %>
                  </td>
                </tr>
              <%
            end
          end
        %>
        <% if !tlogs_sorted.empty? %>
          <tr>
            <td colspan="3" style="padding-top: 15px; text-align: right;">
              <%= link_to _("Mark timelogs as invoiced"), "#", :class => ["button", "mark_timelogs_as_invoiced"], :data => {:url => mark_invoiced_timelogs_path, :success_msg => _('All timelogs was marked as invoiced.'), :confirm_msg => _("Are you sure you want to mark all the found timelogs as invoiced?")} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%=DesignBox.boxb%>
<% end %>
