<%
  if !can?(:admin, :admin)
    flash[:warning] = (_("You do not have permission to view this page."))
    redirect_to :back
  end
  
  if params["choice"] == "dosearch"
    begin
      date_from = Datet.in(params["texdatefrom"])
    rescue
      flash[:warning] = (_("Invalid date-from."))
      redirect_to :back
    end
    
    begin
      date_to = Datet.in(params["texdateto"])
    rescue
      flash[:warning] = (_("Invalid date-to."))
      redirect_to :back
    end
  else
    date_from = Datet.new
    date_from.day = 1
    
    date_to = Datet.new
    date_to.day = date_to.days_in_month
  end
  
  if params["choice"] == "domarktimelogsasinvoiced"
    params["tlog_ids"].split(";").each do |tlog_id|
      tlog = _ob.get(:Timelog, tlog_id)
      tlog[:invoiced] = 1 if !tlog.invoiced?
    end
    
    exit
  end
  
  content_for(:header_title){ _("Timelogs") }
%>

<form method="get" onsubmit="return do_submit_criterias();">
<%= Knj::Web.hiddens([{:name => :choice, :value => :dosearch}, {:name => :users, :value => ""}, {:name => :projects, :value => ""}]).html_safe %>

<%=DesignBox.boxt(_("Enter criteria"), "400px")%>
  <table class="form">
    <%= Knj::Web.inputs([{
      :title => _("Date from"),
      :name => :texdatefrom,
      :value => date_from.out(:time => false),
      :descr => _("If you only want timelogs from a specific date and up.")
    },{
      :title => _("Date to"),
      :name => :texdateto,
      :value => date_to.out(:time => false),
      :descr => _("If you only want timelogs up to a specific date.")
    },{
      :title => _("Comment"),
      :name => :texcomment,
      :value => params["texcomment"],
      :descr => _("A part of the comment in the timelog you are looking for.")
    },{
      :title => _("Users"),
      :name => :seluser,
      :opts => knjrbfw_opts(User.order(:name)),
      :multiple => true,
      :size => 5,
      :values => params["users"].to_s.split(";").map{|ele| ele.to_i},
      :descr => _("If you want to find timelogs from specific users.")
    },{
      :title => _("Projects"),
      :name => :selproject,
      :opts => knjrbfw_opts(Project.order(:name)),
      :multiple => true,
      :size => 5,
      :values => params["projects"].to_s.split(";").map{|ele| ele.to_i},
      :descr => _("If you want to find timelogs from specific projects.")
    },{
      :title => _("Invoiced"),
      :name => :selinvoiced,
      :value => params["selinvoiced"],
      :descr => _("If you only want to view invoiced, uninvoiced or all timelogs."),
      :opts => {
        "" => _("All"),
        "1" => _("Only invoiced"),
        "0" => _("Only un-invoiced")
      }
    }]).html_safe %>
    <tr>
      <td colspan="2" class="buttons">
        <input type="submit" value="<%=_("Search")%>" />
      </td>
    </tr>
  </table>
<%=DesignBox.boxb%>

</form>

<script type="text/javascript">
  $("#texdatefrom").focus();
  
  function do_submit_criterias(){
    $("input[name=users]").val(select_values({sel: $("#seluser"), selected: true, expl: ";"}));
    $("input[name=projects]").val(select_values({sel: $("#selproject"), selected: true, expl: ";"}));
    $("#seluser").val(false);
    return true;
  }
  
  function do_mark_invoiced(){
    tlog_ids = []
    $("input[type=hidden]", $("#table_customer_message")).each(function(){
      id = $(this).attr("name").substring(9);
      tlog_ids.push(id);
    });
    
    $.ajax({
      type: "POST",
      url: "/clean.rhtml?show=timelog_search&choice=domarktimelogsasinvoiced",
      data: {tlog_ids: tlog_ids.join(";")},
      async: true,
      cache: false,
      complete: function(data){
        if (data.responseText.length > 0){
          alert(data.responseText);
        }else{
          alert("<%=_'All timelogs was marked as invoiced.'%>");
        }
      }
    });
  }
</script>

<%
  if params["choice"] == "dosearch"
    args = {}
    
    tlogs = Timelog.order(:date)
    
    if params["texdatefrom"].to_s.length > 0
      tlogs = tlogs.where("timelogs.date >= ?", date_from)
    end
    
    if params["texdateto"].to_s.length > 0
      tlogs = tlogs.where("timelogs.date <= ?", date_to)
    end
    
    if params["texcomment"].to_s.length > 0
      tlogs = tlogs.where("timelogs.comment LIKE ?", "%#{params["texcomment"]}%")
    end
    
    if params["users"].to_s.length > 0
      tlogs = tlogs.where("timelogs.user_id IN (?)", params["users"].to_s.split(";"))
    end
    
    if params["projects"].to_s.length > 0
      tlogs = tlogs.where("timelogs.project_id IN (?)", params["projects"].to_s.split(";"))
    end
    
    if params["selinvoiced"].to_s == "1"
      tlogs = tlogs.where("timelogs.invoiced = '1'")
    elsif params["selinvoiced"].to_s == "0"
      tlogs = tlogs.where("timelogs.invoiced != '1'")
    end
    
    %>
      <br />
      
      <%=DesignBox.boxt(_("Sum"), "350px")%>
        <table class="form">
          <%= Knj::Web.inputs([{
            :title => _("Total hours"),
            :type => :info,
            :value => Knj::Locales.number_out(tlogs.sum(:time).to_f / 3600, 1) + " / " + Knj::Locales.number_out(tlogs.sum(:time_transport).to_f / 3600, 1),
            :descr => _("The total amount of hours of all the found time-logs (first hours used then time used on transport).")
          },{
            :title => _("Total transport"),
            :type => :info,
            :value => Knj::Locales.number_out(tlogs.sum(:transport_length), 1),
            :descr => _("Total km's of transport used in all the timelogs found.")
          }]).html_safe %>
        </table>
      <%=DesignBox.boxb%>
      
      <br />
      
      <%=DesignBox.boxt(_("Results"))%>
        <table class="form">
          <thead>
            <tr>
              <th><%=_"Timelog"%></th>
              <th><%=_"User"%></th>
              <th><%=_"Date"%></th>
              <th><%=_"Task"%></th>
              <th><%=_"Invoiced"%></th>
              <th><%=_"Time"%> / <%=_"Transport"%></th>
              <th><%=_"Transport length"%></th>
            </tr>
          </thead>
          <tbody>
            <%
              tlogs_sorted = {}
              tlogs.each do |tlog|
                dbt = Knj::Db::Dbtime.new(tlog.time)
                dbt_transport = Knj::Db::Dbtime.new(tlog.time_transport)
                tlogs_sorted[tlog.task_id] = [] if !tlogs_sorted.has_key?(tlog.task_id)
                tlogs_sorted[tlog.task_id] << tlog
                
                %>
                  <tr>
                    <td>
                      <%= tlog.html %>
                    </td>
                    <td>
                      <%= link_to_user tlog.user %>
                    </td>
                    <td>
                      <%= l(tlog.date) %>
                    </td>
                    <td>
                      <%= link_to_task tlog.task %>
                    </td>
                    <td>
                      <%= Knj::Strings.yn_str(tlog.invoiced?, _("Yes"), _("No")) %>
                    </td>
                    <td>
                      <%= Knj::Locales.number_out(dbt.hours_total, 1)%> / <%=Knj::Locales.number_out(dbt_transport.hours_total, 1) %>
                    </td>
                    <td>
                      <%= Knj::Locales.number_out(tlog[:transport_length], 0) %>
                    </td>
                  </tr>
                <%
              end
              
              if tlogs.empty?
                %>
                  <tr>
                    <td colspan="1" class="error">
                      <%=_("No timelogs were found.")%>
                    </td>
                  </tr>
                <%
              end
            %>
          </tbody>
        </table>
      <%=DesignBox.boxb%>
      
      <br />
      
      <%=DesignBox.boxt(_("Customer message"))%>
        <table class="list" id="table_customer_message">
          <thead>
            <tr>
              <th><%=_"Date"%>/<%=_"Hours"%></th>
              <th><%=_"User"%></th>
              <th><%=_"Description"%></th>
            </tr>
          </thead>
          <tbody>
            <%
              tlogs_sorted.each do |task_id, tlogs_arr|
                task = Task.find(task_id)
                
                %>
                  <tr>
                    <td colspan="3" class="tdt" style="padding-top: 10px;">
                      <%= link_to_task task %>
                    </td>
                  </tr>
                <%
                
                first = true
                tlogs_arr.each do |tlog|
                  if !first
                    %>
                      <tr>
                        <td colspan="3"><hr size="1" color="#cfcfcf" /></td>
                      </tr>
                    <%
                  end
                  
                  first = false if first
                  
                  %>
                    <tr>
                      <td style="text-align: center;">
                        <input type="hidden" name="timelogs_<%=tlog.id%>" value="1" />
                        
                        <%= l(tlog.date) %><br />
                        <%= Knj::Locales.number_out(tlog.time_dbt.hours_total, 2) %> / <%= Knj::Locales.number_out(tlog.time_transport_dbt.hours_total, 2) %>
                      </td>
                      <td class="nowrap">
                        <%= link_to_user tlog.user %>
                      </td>
                      <td>
                        <%= tlog.comment_html %>
                      </td>
                    </tr>
                  <%
                end
              end
              
              if !tlogs_sorted.empty?
                %>
                  <tr>
                    <td colspan="3" style="padding-top: 15px; text-align: right;">
                      <input type="button" value="<%=_"Mark timelogs as invoiced"%>" onclick="if (confirm('<%=_"Are you sure you want to mark all the found timelogs as invoiced?"%>')){do_mark_invoiced();}" />
                    </td>
                  </tr>
                <%
              end
            %>
          </tbody>
        </table>
      <%=DesignBox.boxb%>
    <%
  end
%>