= simple_form_for comment do |f|
  = f.hidden_field :resource_id
  = f.hidden_field :resource_type
  = f.cktext_area :comment, autofocus: true, value: UserReferences.new(text: @comment.comment.to_s).unparse_user_references

  - if comment.resource.is_a?(Task) && comment.new_record?
    = simple_fields_for resource do |f_task|
      = f_task.input :state, collection: Task.translated_states.invert, selected: comment.resource.state.to_s
  = f.submit t("save"), class: "mobile-button-primary"
