= DesignBox.boxt _("Enter details"), 450
= simple_form_for @invoice do |f|
  = f.input :date
  = f.input :customer, :collection => Customer.all.order(:name)
  = f.submit _("Save")
  
  - unless @invoice.new_record?
    = link_to _("Show"), invoice_path(@invoice), :class => "button" if can? :show, @invoice
    = link_to _("Delete"), invoice_path(@invoice), :class => "button", :method => :delete, :data => {:confirm => _("Are you sure?")} if can? :destroy, @invoice
= DesignBox.boxb
