= simple_form_for invoice do |f|
  = f.input :invoice_group_id, autofocus: true, collection: InvoiceGroup.all, label: Invoice.human_attribute_name(:invoice_group)
  = f.input :invoice_no
  = f.input :state, collection: translated_invoice_states
  = f.input :date
  = f.input :payment_at
  = f.input :creditor_id, collection: Organization.all.order(:name), label: Invoice.human_attribute_name(:creditor)
  = f.input :organization_id, collection: Organization.all.order(:name), label: Invoice.human_attribute_name(:organization)
  = f.input :invoice_type, collection: Invoice.translated_invoice_types
  = f.input :amount, input_html: {data: {autonumeric: true}}
  = f.input :no_vat
  = f.submit _("Save"), class: ["mobile-button", "mobile-button-primary"]
  = link_to _("Delete"), invoice_path(invoice), class: ["mobile-button", "mobile-button-danger"], method: :delete, data: {confirm: _("Are you sure?")} if can?(:destroy, invoice) && !invoice.new_record?
