= design_box _("Enter details"), 600 do
  = simple_form_for invoice do |f|
    = f.input :invoice_no, autofocus: true
    = f.input :state, collection: translated_invoice_states
    = f.input :date
    = f.input :payment_at
    = f.input :creditor_id, collection: Organization.all.order(:name), label: Invoice.human_attribute_name(:creditor)
    = f.input :organization_id, collection: Organization.all.order(:name), label: Invoice.human_attribute_name(:organization)
    = f.input :invoice_type, collection: Invoice.translated_invoice_types
    = f.input :amount, input_html: {data: {autonumeric: true}}
    = f.input :no_vat
    = f.association :invoice_groups, as: :check_boxes, collection: InvoiceGroup.all, label: InvoiceGroup.model_name.human(count: 2)
    = f.submit _("Save")

    - unless invoice.new_record?
      = link_to _("Show"), invoice_path(invoice), class: "button" if can? :show, invoice
      = link_to _("Delete"), invoice_path(invoice), class: "button", method: :delete, data: {confirm: _("Are you sure?")} if can? :destroy, invoice
