= DesignBox.boxt _("Enter details"), 600
= simple_form_for @invoice do |f|
  = f.input :invoice_no
  = f.input :date
  = f.input :payment_at
  = f.input :creditor_id, :collection => Customer.all.order(:name), :label => Invoice.human_attribute_name(:creditor)
  = f.input :customer_id, :collection => Customer.all.order(:name), :label => Invoice.human_attribute_name(:customer)
  = f.input :invoice_type, :collection => Invoice.translated_invoice_types
  = f.input :amount
  = f.submit _("Save")
  
  - unless @invoice.new_record?
    = link_to _("Show"), invoice_path(@invoice), :class => "button" if can? :show, @invoice
    = link_to _("Delete"), invoice_path(@invoice), :class => "button", :method => :delete, :data => {:confirm => _("Are you sure?")} if can? :destroy, @invoice
= DesignBox.boxb
