= simple_form_for invoice do |f|
  = f.association :invoice_groups, as: :check_boxes, collection: InvoiceGroup.all, label: InvoiceGroup.model_name.human(count: 2)
  = f.input :invoice_no
  = f.input :state, collection: translated_invoice_states
  = f.input :date
  = f.input :payment_at
  = f.input :creditor_id, collection: Organization.all.order(:name), label: Invoice.human_attribute_name(:creditor)
  = f.input :organization_id, collection: Organization.all.order(:name), label: Invoice.human_attribute_name(:organization)
  = f.input :invoice_type, collection: Invoice.translated_invoice_types
  = f.input :amount, input_html: {data: {autonumeric: true}}
  = f.input :no_vat
  = f.submit t("save"), class: "mobile-button-primary"
  = link_to t("delete"), invoice_path(invoice), class: "mobile-button-danger", method: :delete, data: {confirm: t("are_you_sure")} if can?(:destroy, invoice) && !invoice.new_record?
