- content_for(:header_title){ Invoice.model_name.human(count: 2) }

- if can? :new, Invoice
  = link_to _("New invoice"), new_invoice_path, class: "button"
  %br
  %br

= design_box _("Enter criteria"), 550 do
  = simple_search_form_for @ransack, @ransack_params do |f|
    = f.input :id_eq, autofocus: true
    = f.input :organization_name_cont
    = f.input :invoice_type_eq, collection: Invoice.translated_invoice_types, include_blank: true
    = f.input :date_gteq, as: :string, label: _("Date from")
    = f.input :date_lteq, as: :string, label: _("Date to")
    = f.submit _("Filter")

%br

= design_box Invoice.model_name.human(count: 2) do
  %table.list
    %thead
      %tr
        %th= sort_link @ransack, :id
        %th= sort_link @ransack, :invoice_no
        %th= sort_link @ransack, :invoice_type
        %th= sort_link @ransack, :organization_name, Invoice.human_attribute_name(:organization)
        %th= sort_link @ransack, :creditor_name, Invoice.human_attribute_name(:creditor)
        %th= sort_link @ransack, :date
        %th= sort_link @ransack, :amount
        %th= _("Vat")
    %tbody
      - @invoices.each do |invoice|
        %tr
          %td= link_to_invoice invoice, title: invoice.id
          %td= link_to_invoice invoice, title: invoice.invoice_no if invoice.invoice_no?
          %td= invoice.translated_invoice_type
          %td= link_to_organization invoice.organization
          %td= link_to_organization invoice.creditor
          %td= l(invoice.date, format: :long)
          %td= format_number invoice.amount
          %td= format_number invoice.amount_vat
      - if @invoices.none?
        %tr
          %td.error{colspan: 4}
            = _("No invoices could be found.")

%br
%br

= design_box _("Totals"), 400 do
  %table.form
    %tbody
      %tr
        %td.tdt= _("Amount")
        %td.align-right= format_number @invoices.sum(:amount)
      %tr
        %td.tdt= _("Vat")
        %td.align-right= format_number @invoices.sum(:amount) * 0.25
      %tr
        %td.tdt= _("Total")
        %td.align-right= format_number @invoices.sum(:amount) * 1.25
