- @checks.each do |check|
  %div
    = check_box_tag dom_id(check), 1, check.checked?, :class => "task_check", :data => {:task_id => @task.id, :task_check_id => check.id}
    = label_tag dom_id(check), check.name
    
    (
    = link_to _("edit"), "#", :class => "task_check_edit", :data => {:task_id => @task.id, :task_check_id => check.id}
    = link_to _("delete"), "#", :class => "task_check_delete", :data => {:task_id => @task.id, :task_check_id => check.id, :confirm_msg => _("Are you sure?")}
    )
  - if check.description.present?
    .tdd= Php4r.nl2br(check.description).html_safe

- if @checks.none?
  .error=_("No checks has been added for this task.")
