- comments.each do |comment|
  %div{class: "comment_#{comment.id}", style: "padding-bottom: 25px;"}
    %table{style: "width: 100%;"}
      %tr
        %td{style: "white-space: nowrap; width: 25px;"}
          = "##{comment.id_per_resource}"
        %td{style: "font-weight: bold;"}
          = link_to_user comment.user
        %td{style: "width: 280px; text-align: right; font-weight: bold;"}
          - if can?(:edit, comment)
            (
            %a{href: "javascript: comment_edit('#{comment.id}');"}>= t("edit")
            )
          - if can?(:destroy, comment)
            (
            %a{href: "javascript: if (confirm('#{t(".do_you_want_to_delete_this_comment")}')){comment_delete('#{comment.id}');}"}>= t("delete")
            )
          = l(comment.created_at, format: :long)
      %tr
        %td{colspan: 3, style: "border-top: 1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf;"}
          = UserReferences.new(text: comment.comment).unparse_user_references(html: true).html_safe
- if comments.none?
  .error{style: "padding-bottom: 15px;"}
    = t(".no_comments_were_found_for_this_task")
