= design_box _("Enter details"), 700 do
  = simple_form_for task, data: {browser_key: _("Browser"), browser_value: agent_title, version_key: _("Version"), version_value: agent_version, os_key: _("Operating system"), os_value: agent_os_title} do |f|
    = f.input :name
    = f.association :project, collection: current_user.visible_projects.order(:name)
    = f.input :task_type, collection: Task.translated_task_types.invert
    = f.input :state, collection: Task.translated_states.invert
    = f.input :priority, collection: 1..10
    = f.cktext_area :description, ckeditor: {toolbar: "mini", height: 240}, value: UserReferences.new(text: @task.description.to_s).unparse_user_references

    = link_to _("Insert browser and os"), "#", class: ["button", "button-insert-browser-and-os"]
    - unless task.new_record?
      = link_to _("Show"), task_path(task), class: "button"
      = link_to _("Delete"), task_path(task), method: :delete, class: "button", data: {confirm: _("Are you sure?")}

    = f.submit _("Save")
