%table.list
  %thead
    %tr
      %th= _"ID"
      %th= _"Hours"
      %th= _"Date"
      %th= _"User"
      %th= _"Comment"
      - if can? :view_invoiced, Timelog
        %th= _"Invoiced?"
      - if can? :destroy, Timelog
        %th= _"Delete"
  %tbody
    - first = true
    - count_shown = 0
    - cur_date = Datet.new
    - @timelogs.each do |tlog|
      - tlog_date = tlog.date
      - next if !can?(:admin, :admin) && tlog_date.day == cur_date.day && tlog_date.month == cur_date.month && tlog_date.year == cur_date.year
      - dbt = Baza::Dbtime.new(time_as_string(tlog.time))
      - count_shown += 1
      - if !first
        %tr
          %td{colspan: 7}
            %hr{color: "#cfcfcf", size: "1"}/
          %td
      - first = false if first
      %tr
        %td{style: "width: 50px;"}= link_to_timelog tlog
        %td{style: "width: 60px;"}= Knj::Locales.number_out(dbt.hours_total, 1)
        %td.nowrap{style: "width: 90px;"}= l(tlog.date)
        %td{style: "width: 130px;"}= link_to_user tlog.user
        %td= simple_format tlog.comment
        - if can? :view_invoiced, tlog
          %td= Knj::Strings.yn_str(tlog.invoiced?)
        - if can? :destroy, tlog
          %td{style: "width: 10%;"}
            (
            %a{href: "javascript: if (confirm('#{_("Do you want to delete this timelog?")}')){timelog_delete('#{tlog.id}');}"}= _("delete")
            )
    - if count_shown <= 0
      %tr
        %td.error{colspan: 7}
          = _("No timelogs were found.")
