%table.list
  %thead
    %tr
      %th= Timelog.human_attribute_name(:id)
      %th= t(".hours")
      %th= t(".date")
      %th= User.model_name.human
      %th= Comment.model_name.human
      - if can? :view_invoiced, Timelog
        %th= t(".invoiced")
      - if can? :destroy, Timelog
        %th= t("delete")
  %tbody
    - first = true
    - count_shown = 0
    - cur_date = Datet.new

    - timelogs.each do |tlog|
      - tlog_date = tlog.date
      - next if !can?(:admin, :admin) && tlog_date.day == cur_date.day && tlog_date.month == cur_date.month && tlog_date.year == cur_date.year

      - dbt = Baza::Dbtime.new(time_as_string(tlog.time))
      - count_shown += 1

      - unless first
        %tr
          %td{colspan: 7}
            %hr{color: "#cfcfcf", size: "1"}/
          %td

      - first = false if first

      %tr{id: "timelog-#{tlog.id}"}
        %td{style: "width: 50px;"}= link_to_timelog tlog
        %td{style: "width: 60px;"}= format_number dbt.hours_total, precision: 1
        %td.nowrap{style: "width: 90px;"}= l(tlog.date)
        %td{style: "width: 130px;"}= link_to_user tlog.user
        %td= simple_format_default_args tlog.comment
        - if can? :view_invoiced, tlog
          %td= tlog.invoiced? ? t("yes") : t("no")
        - if can? :destroy, tlog
          %td{style: "width: 10%;"}
            (
            %a{href: "javascript: if (confirm('#{t(".do_you_want_to_delete_this_timelog")}')){timelog_delete('#{tlog.id}');}"}= t("delete")
            )
    - if count_shown <= 0
      %tr
        %td.error{colspan: 7}
          = t(".no_timelogs_were_found")
