- content_for(:header_title){ _("Search for tasks") }

= DesignBox.boxt(_("Enter criteria"), 550)
= simple_search_form_for @ransack, @ransack_params do |f|
  = f.input :name_cont
  = f.input :description_cont, :as => :string
  = f.input :state_eq, :collection => Task.translated_states.invert, :include_blank => true
  = f.input :task_type_eq, :collection => Task.translated_task_types.invert, :include_blank => true
  = f.input :user_id_eq, :collection => @users, :include_blank => true
  
  = link_to _("Add new"), new_task_path, :class => "button"
  = f.submit _("Search")
= DesignBox.boxb

- if params[:q]
  %br
  
  = DesignBox.boxt(_("Results"), 900)
  %table.list
    %thead
      %tr
        %th= Task.human_attribute_name(:name)
        %th= Task.human_attribute_name(:state)
        %th= Task.human_attribute_name(:task_type)
        %th= Project.model_name.human
        %th= _"Author"
    %tbody
      - @tasks.find_each do |task|
        - next unless can?(:show, task)
        %tr
          %td= link_to_task task
          %td= task.translated_state
          %td= task.translated_task_type
          %td= link_to_project task.project
          %td= link_to_user task.user
      
      - if @tasks.none?
        %tr
          %td{:colspan => 1, :class => :error}
            =_("No tasks were found.")
  = DesignBox.boxb
