- content_for(:header_title){ t(".search_for_tasks") }

= design_box t("enter_criteria"), 550 do
  = simple_search_form_for @ransack, @ransack_params do |f|
    = f.input :name_cont
    = f.input :description_cont, as: :string
    = f.input :state_eq, collection: Task.translated_states.invert, include_blank: true
    = f.input :task_type_eq, collection: Task.translated_task_types.invert, include_blank: true
    = f.input :user_id_eq, collection: @users, include_blank: true, label: User.model_name.human
    = f.input :project_id_eq, collection: @projects, label: Project.model_name.human, include_blank: true

    = link_to t("add_new"), new_task_path, class: "button"
    = f.submit t("search")

%br

= design_box t("results"), 1150 do
  %table.list.tasks-list
    %thead
      %tr
        %th= sort_link @ransack, :name
        %th= t(".progress")
        %th= sort_link @ransack, :state
        %th= sort_link @ransack, :task_type
        %th= sort_link @ransack, :project_name, Project.model_name.human
        %th= sort_link @ransack, :user_name, t(".author")
    %tbody
      - @tasks.each do |task|
        - next unless can?(:show, task)
        %tr
          %td= link_to_task task
          %td= render "progress", task: task
          %td= task.translated_state
          %td= task.translated_task_type
          %td= link_to_project task.project
          %td= link_to_user task.user

      - if @tasks.none?
        %tr
          %td{colspan: 6, class: "error"}
            = t(".no_tasks_were_found")

%br

= will_paginate @tasks
