= simple_form_for [task_check.task, task_check], remote: true do |f|
  = design_box t("enter_details"), 600 do
    = f.input :name, autofocus: true
    = f.input :description
    = f.input :user_assigned_id, collection: current_user.visible_users.order(:name), label: TaskCheck.human_attribute_name(:user_assigned)

    - unless task_check.new_record?
      = link_to t("delete"), "#", class: ["button", "delete_task_check"], data: {task_check_id: task_check.id}

    = f.submit t("save")
