%table.list
  %thead
    %tr
      %th= _("Rank")
      %th= _("Actions")
  %tbody
    - @user.user_roles.each do |role|
      %tr
        %td= role.translated_role
        %td= link_to _("Remove"), user_role_path(role), :method => :delete, :remote => true, :class => "destroy_user_role", :data => {:confirm => _("Do you want to remove this role?")}
    - if @user.user_roles.none?
      %tr
        %td.error{:colspan => 2}
          = _("No roles has been added to this user.")
