<table class="list">
  <thead>
    <tr>
      <th><%=_"Rank"%></th>
      <th><%=_"Actions"%></th>
    </tr>
  </thead>
  <tbody>
    <% @user.user_roles.each do |link| %>
      <tr>
        <td><%= link.role %></td>
        <td>
          (<a href="javascript: if (confirm('<%=_"Do you want to remove this rank?"%>')){rank_remove('<%=link.id%>');}"><%=_"remove"%></a>)
        </td>
      </tr>
    <% end %>
    
    <% if @user.user_roles.none? %>
      <tr>
        <td colspan="1" class="error">
          <%=_"No ranks has been added to this user."%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
