- content_for(:header_title){ sprintf(_("Show user: %s."), @user.name) }

- if can?(:edit, @user)
  = design_box _("Actions"), 450 do
    = link_to _("Edit"), ["edit", @user], class: "button"
  %br

= design_box _("Information"), 450 do
  %table.form
    %tbody
      %tr
        %td.tdt= User.human_attribute_name(:name)
        %td= @user.name
      %tr
        %td.tdd{colspan: 2}
          = _("The real name of the user.")
      %tr
        %td.tdt= User.human_attribute_name(:email)
        %td= mail_to @user.email
      %tr
        %td.tdd{colspan: 2}
          = _("The email of the user.")

%br

.tasks-filter-button-container{style: "display: #{params[:q] ? "none" : "block"}"}
  = link_to _("Filter"), "#", class: ["button", "tasks-filter-button"]

.tasks-filter{style: "display: #{params[:q] ? "block" : "none"}"}
  = design_box _("Filter"), 550 do
    = simple_search_form_for @ransack, @ransack_params do |f|
      = f.input :name_cont
      = f.input :state_eq_any, as: :check_boxes, collection: Task.translated_states.invert
      = f.input :project_name_cont
      = f.input :project_organization_name_cont
      = f.submit _("Search")
      = link_to _("Hide filter"), "#", class: ["button", "tasks-hide-filter-button"]
  %br

= design_box Task.model_name.human(count: 2), 1000 do
  %table.list
    %thead
      %tr
        %th= sort_link @ransack, :name, Task.model_name.human
        %th= sort_link @ransack, :state
        %th= sort_link @ransack, :created_at
        %th= sort_link @ransack, :project_name, Project.model_name.human
        %th= sort_link @ransack, :project_organization_name, Organization.model_name.human
    %tbody
      - count = 0
      - @tasks.each do |task|
      - next if !can?(:show, task)
      - count += 1
        %tr
          %td= link_to_task task
          %td= task.translated_state
          %td.nowrap{style: "width: 100px;"}
            = task.created_at ? l(task.created_at, format: :long) : ""
          %td= link_to_project task.project
          %td= link_to_organization task.project.organization
      - if count <= 0
        %tr
          %td.error{colspan: "2"}
            = _("No tasks were found for this user.")

%br
= will_paginate @tasks
