<% content_for(:header_title){ sprintf(_("Show user: %s."), @user.name) } %>

<% if can?(:edit, @user) %>
  <%=DesignBox.boxt(_("Actions"), 450)%>
    <%= link_to _("Edit"), edit_user_path(@user), :class => "button" %>
  <%=DesignBox.boxb%>
  
  <br />
<% end %>

<%=DesignBox.boxt(_("Information"), 450)%>
  <table class="form">
    <%= Knj::Web.inputs([{
      :title => _("Name"),
      :type => :info,
      :value => @user.name,
      :descr => _("The real name of the user.")
    },{
      :title => _("Email"),
      :type => :info,
      :value => mail_to(@user.email),
      :descr => _("The email of the user.")
    }]).html_safe %>
  </table>
<%=DesignBox.boxb%>

<br />

<%=DesignBox.boxt(_("Tasks"), 1000)%>
  <table class="list">
    <thead>
      <tr>
        <th><%=_"Task"%></th>
        <th><%=_"Status"%></th>
        <th><%=_"Date"%></th>
        <th><%=_"Project"%></th>
        <th><%=_"Customer"%></th>
      </tr>
    </thead>
    <tbody>
      <%
        count = 0
        @user.tasks.includes(:project => :customer).order(:created_at).each do |task|
          next if !can?(:show, task)
          count += 1
          
          %>
            <tr>
              <td><%= link_to_task task %></td>
              <td><%= task.translated_state %></td>
              <td class="nowrap" style="width: 100px;">
                <%= task.created_at ? l(task.created_at, :format => :long) : "" %>
              </td>
              <td><%= link_to_project task.project %></td>
              <td><%= link_to_customer task.project.customer %></td>
            </tr>
          <%
        end
      %>
      <% if count <= 0 %>
        <tr>
          <td colspan="2" class="error">
            <%=_("No tasks were found for this user.")%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%=DesignBox.boxb%>