- content_for(:header_title){ t(".show_user"), name: @user.name) }

- if can?(:edit, @user)
  = design_box t("actions"), 450 do
    = link_to t("edit"), ["edit", @user], class: "button"
  %br

= design_box t(".information"), 450 do
  %table.form
    %tbody
      %tr
        %td.tdt= User.human_attribute_name(:name)
        %td= @user.name
      %tr
        %td.tdd{colspan: 2}= t(".the_real_name_of_the_user")
      %tr
        %td.tdt= User.human_attribute_name(:email)
        %td= mail_to @user.email
      %tr
        %td.tdd{colspan: 2}= t(".the_email_of_the_user")

%br

.tasks-filter-button-container{style: "display: #{params[:q] ? "none" : "block"}"}
  = link_to t("filter"), "#", class: ["button", "tasks-filter-button"]

.tasks-filter{style: "display: #{params[:q] ? "block" : "none"}"}
  = design_box t("filter"), 550 do
    = simple_search_form_for @ransack, @ransack_params do |f|
      = f.input :name_cont
      = f.input :state_eq_any, as: :check_boxes, collection: Task.translated_states.invert
      = f.input :project_name_cont
      = f.input :project_organization_name_cont
      = f.submit t("search")
      = link_to t(".hide_filter"), "#", class: ["button", "tasks-hide-filter-button"]
  %br

= design_box Task.model_name.human(count: 2), 1200 do
  %table.list.tasks-list
    %thead
      %tr
        %th= sort_link @ransack, :name, Task.model_name.human
        %th= t(".progress")
        %th= sort_link @ransack, :state
        %th= sort_link @ransack, :created_at
        %th= sort_link @ransack, :project_name, Project.model_name.human
        %th= sort_link @ransack, :project_organization_name, Organization.model_name.human
    %tbody
      - count = 0
      - @tasks.each do |task|
        - next if !can?(:show, task)
        - count += 1

        %tr
          %td= link_to_task task
          %td= render "/tasks/progress", task: task
          %td= task.translated_state
          %td= l(task.created_at, format: :long) if task.created_at
          %td= link_to_project task.project
          %td= link_to_organization task.project.organization
      - if count <= 0
        %tr
          %td.error{colspan: 2}= t(".no_tasks_were_found_for_this_user")

%br
= will_paginate @tasks
