%h2= _("Forgot your password?")

= DesignBox.boxt _("Enter details"), 450
= simple_form_for resource, as: resource_name, url: password_path(resource_name) do |f|
  = f.error_notification
  = f.input :email, required: true, autofocus: true
  = f.button :submit, _("Send me reset password instructions")
= DesignBox.boxb

%br/
= render "devise/shared/links"