- content_for(:header_title){ _("Uploaded files") }

= DesignBox.boxt _("Enter criteria"), 450
= simple_search_form_for @q, @values do |f|
  = f.input :id_eq, autofocus: true
  = f.input :file_file_name_cont
  = f.submit _("Filter")
= DesignBox.boxb

%br/
%br/

= DesignBox.boxt _("Results"), 800
%table.list
  %thead
    %tr
      %th= sort_link @q, :id
      %th= sort_link @q, :file_file_name
      %th= sort_link @q, :file_file_size
      %th= sort_link @q, :created_at
  %tbody
    - @uploaded_files.each do |uploaded_file|
      %tr
        %td= link_to_uploaded_file(uploaded_file, title: uploaded_file.id)
        %td= link_to_uploaded_file uploaded_file
        %td= number_to_human_size uploaded_file.file_file_size
        %td= l(uploaded_file.created_at, format: :long)
    - if @uploaded_files.none?
      %tr
        %td.error{colspan: 2}= _("No uploaded files were found.")
= DesignBox.boxb
