<%= simple_form_for @customer do |f| %>

<%=DesignBox.boxt(_("Enter details"), "350px")%>
  <table class="form">
    <%= Knj::Web.inputs([{
      :title => _("Name"),
      :name => "customer[name]",
      :id => "texname",
      :value => @customer.name,
      :descr => _("The name of the customer as it should appear in the system.")
    }]).html_safe %>
    <tr>
      <td colspan="2" class="buttons">
        <% unless @customer.new_record? %>
          <%= link_to _("Show"), customer_path(@customer), :class => "button" %>
          <%= link_to _("Delete"), customer_path(@customer), :class => "button", :method => :delete, :data => {:confirm => _("Are you sure?")} %>
        <% end %>
        <input type="submit" value="<%=_("Save")%>" />
      </td>
    </tr>
  </table>
<%=DesignBox.boxb%>

<% end %>

<script type="text/javascript">
  $("#texname").focus();
</script>