= DesignBox.boxt _("Enter details"), 700
= simple_form_for @customer do |f|
  = f.input :name
  = f.input :email
  
  %br/
  
  = f.input :delivery_address
  = f.input :delivery_zip_code
  = f.input :delivery_city
  = f.input :delivery_country, :as => :string
  
  %br/
  
  = f.input :invoice_address
  = f.input :invoice_zip_code
  = f.input :invoice_city
  = f.input :invoice_country, :as => :string
  
  %br/
  
  - unless @customer.new_record?
    = link_to _("Show"), customer_path(@customer), :class => "button"
    = link_to _("Delete"), customer_path(@customer), :class => "button", :method => :delete, :data => {:confirm => _("Are you sure?")}
  
  = f.submit _("Save")
= DesignBox.boxb
