- content_for(:header_title){ sprintf(_("Show customer: %s"), @customer.name) }

= DesignBox.boxt _("Actions"), 350
= link_to _("Edit customer"), edit_customer_path(@customer), :class => "button"
= DesignBox.boxb

%br/

= DesignBox.boxt _("Details"), 500
%table.form
  %tbody
    %tr
      %td= Customer.human_attribute_name(:email)
      %td= mail_to @customer.email if @customer.email.present?
    
    - [:name, :vat_no, :delivery_address, :delivery_zip_code, :delivery_city, :delivery_country, :invoice_address, :invoice_zip_code, :invoice_city, :invoice_country].each do |column|
      %tr
        %td= Customer.human_attribute_name(column)
        %td= @customer.__send__(column)
    %tr
      %td= Customer.human_attribute_name(:payment_info)
      %td= simple_format @customer.payment_info
= DesignBox.boxb

%br/

= DesignBox.boxt Project.model_name.human(:count => 2), 350
%table.list
  %thead
    %tr
      %th= Project.model_name.human
  %tbody
    - @customer.projects.each do |project|
      %tr
        %td
          = link_to_project project
    - if @customer.projects.none?
      %tr
        %td{:colspan => 1, :class => "error"}
          = _("No projects has been added for this customer.")
= DesignBox.boxb
