%table.list
  %thead
    %tr
      %th= _("User")
      %th= _("Actions")
  %tbody
    - @project.project_autoassigned_users.each do |project_autoassigned_user|
      %tr
        %td= link_to_user project_autoassigned_user.user
        %td= link_to _("Remove"), project_project_autoassigned_user_path(@project, project_autoassigned_user), :method => :delete, :remote => true, :class => "remove_autoassigned_user_path", :data => {:confirm => _("Are you sure?")}
    - if @project.project_autoassigned_users.none?
      %tr
        %td{:colspan => 2}= _("No users have been autoassigned yet.")
