= design_box t("enter_details"), 800 do
  = simple_form_for project do |f|
    = f.input :name
    = f.input :state, collection: Project.translated_states
    = f.input :deadline_at
    = f.input :price_per_hour, input_html: {data: {autonumeric: true}}
    = f.input :price_per_hour_transport, input_html: {data: {autonumeric: true}}
    = f.input :organization_id, collection: Organization.order(:name), label: Project.human_attribute_name(:organization)
    = f.cktext_area :description

    - unless project.new_record?
      .added_by
        = t(".added_by_user_link", user_link: link_to_user(project.user_added)).html_safe

      = link_to t("show"), project_path(project), class: "button"
      = link_to t(".add_task"), new_task_path(task: {project_id: project.id}), class: "button"
      = link_to t("delete"), project_path(project), method: :delete, class: "button", data: {confirm: t(".do_you_want_to_delete_this_project")}

    = f.submit t("save")
