<%
  if !can?(:admin, :admin)
    flash[:warning] = (_("You are not an administrator and cannot view this page."))
    redirect_to :back
  end
  
  if params["choice"] == "dosave"
    if params["texdeadline"] != ""
      date_deadline = Datet.in(params["texdeadline"])
    else
      date_deadline = nil
    end
    
    save_hash = {
      :name => params["texname"],
      :descr => params["texdescr"],
      :customer_id => params["selcustomer"],
      :date_deadline => date_deadline,
      :price_per_hour => params["texpriceperhour"],
      :price_per_hour_transport => params["texpriceperhourtransport"]
    }
  end
  
  date_deadline_str = ""
  
  if params["project_id"].to_i > 0
    begin
      project = _ob.get(:Project, params["project_id"])
    rescue Errno::ENOENT
      flash[:warning] = (_("That project could not be found in the database."))
      redirect_to :back
    end
    
    title = sprintf(_("Edit project: %s."), project.name.html)
    
    if project.date_deadline
      date_deadline_str = project.date_deadline_str(:time => false)
    end
    
    if params["choice"] == "dosave"
      project.update(save_hash)
      redirect_to("?show=project_edit&project_id=#{project.id}")
    end
    
    if params["choice"] == "dodelete"
      _ob.delete(project)
      redirect_to("?show=project_search")
    end
  else
    title = _("Add new project")
    
    if params["choice"] == "dosave"
      begin
        project = _ob.add(:Project, save_hash)
        redirect_to("?show=project_edit&project_id=#{project.id}")
      rescue => e
        flash[:warning] = (e.message)
        redirect_to :back
      end
    end
  end
  
  print _site.header(title)
%>

<form method="post" action="?show=project_edit&amp;choice=dosave<%if project; print "&amp;project_id=#{project.id}"; end%>">

<%=DesignBox.boxt(_("Enter details"), "500px")%>
  <table class="form">
    <%
      print Knj::Web.inputs([{
        :title => _("Name"),
        :name => :texname,
        :value => [project, :name],
        :descr => _("The name of the project as it should appear in this system.")
      },{
        :title => _("Deadline"),
        :name => :texdeadline,
        :value => date_deadline_str,
        :descr => _("The deadline of the project.")
      },{
        :title => _("Price per hour"),
        :name => :texpriceperhour,
        :value => [project, :price_per_hour]
      },{
        :title => _("Price per hour transport"),
        :name => :texpriceperhourtransport,
        :value => [project, :price_per_hour_transport]
      }])
      
      if _site.args[:customers]
        print Knj::Web.inputs([{
          :title => _("Customer"),
          :name => :selcustomer,
          :value => [project, :customer_id],
          :descr => _("The customer that this project belongs under."),
          :opts => _ob.list_optshash(:Customer, {:none => true})
        }])
      end
      
      if project
        if project.added_user
          project_user_html = project.added_user.html
        else
          project_user_html = "[#{_("no user")}]"
        end
        
        print Knj::Web.inputs([{
          :title => _("Added by"),
          :type => :info,
          :value => project_user_html,
          :descr => _("The user that added this project.")
        }])
      end
      
      print Knj::Web.inputs([{
        :title => _("Description"),
        :name => :texdescr,
        :value => [project, :descr],
        :type => :fckeditor,
        :height => 400,
        :descr => _("A description of the project to tell what it is about.")
      }])
    %>
    <tr>
      <td colspan="2" class="buttons">
        <%if project%>
          <input type="button" value="<%=_("Show")%>" onclick="location.href='<%=project.url%>';" />
          <input type="button" value="<%=_("Add task")%>" onclick="location.href='?show=task_edit&amp;project_id=<%=project.id%>';" />
          <input type="button" value="<%=_("Delete")%>" onclick="if (confirm('<%=_("Do you want to delete this project?")%>')){location.href='?show=project_edit&amp;project_id=<%=project.id%>&amp;choice=dodelete';}" />
        <%end%>
        <input type="submit" value="<%=_("Save")%>" />
      </td>
    </tr>
  </table>
<%=DesignBox.boxb%>

</form>

<script type="text/javascript">
  $("#texname").focus();
</script>