- content_for(:header_title){ t(".search_for_project") }

= design_box t("enter_criteria"), 350 do
  = simple_search_form_for @ransack, @ransack_params do |f|
    = f.input :name_cont
    = link_to t("add_new"), new_project_path, class: "button"
    = f.submit t("search")

= design_box Project.model_name.human(count: 2), 600 do
  %table.form
    %thead
      %tr
        %th= sort_link @ransack, :name
        %th= sort_link @ransack, :state
        %th= sort_link @ransack, :created_at
    %tbody
      - @projects.each do |project|
        %tr
          %td= link_to_project project
          %td= project.translated_state
          %td= l(project.created_at, format: :long)
      - unless @projects.any?
        %tr
          %td.error{colspan: 2}
            = t(".no_projects_were_found")

%br
= will_paginate @projects
