- content_for(:header_title){ t(".search_for_project") }
- if can? :new, Project
  - content_for(:header_right) { link_to t("add_new"), new_project_path, class: "mobile-button-header" }

= simple_search_form_for @ransack, @ransack_params do |f|
  = f.input :name_cont
  = f.submit t("search"), class: "mobile-button-primary"

%table.mobile-table.list
  %thead
    %tr
      %th= sort_link @ransack, :name
      %th= sort_link @ransack, :state
      %th= sort_link @ransack, :created_at
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to_project project
        %td= project.translated_state
        %td= l(project.created_at, format: :short)
    - unless @projects.any?
      %tr
        %td.error{colspan: 3}
          = t(".no_projects_were_found")

%br
= will_paginate @projects
