- content_for(:header_title){ _("Search for project") }

= design_box _("Enter criteria"), 350 do
  = simple_search_form_for @ransack, @ransack_params do |f|
    = f.input :name_cont
    = link_to _("Add new"), new_project_path, class: "button"
    = f.submit _("Search")

- if params[:q]
  %br

  = design_box Project.model_name.human(count: 2), 500 do
    %table.form
      %thead
        %tr
          %th= Project.human_attribute_name(:name)
      %tbody
        - @projects.each do |project|
          %tr
            %td= link_to_project project
        - if @projects.none?
          %tr
            %td.error{colspan: 1}
              = _("No projects were found.")
