- content_for(:header_title){ sprintf(_("Show project: %s."), @project.name) }

%table.project_table{:data => {:project_id => @project.id, :assigned_users_path => assigned_users_project_path(@project)}}
  %tr
    %td{:style => "vertical-align: top;"}
      = DesignBox.boxt(_("Actions"), 350)
      - if can?(:admin, :admin)
        %input{:onclick => "location.href='#{edit_project_path(@project)}';", :type => "button", :value => _("Edit project")}
      %input{:onclick => "location.href='#{new_task_path(:task => {:project_id => @project.id})}';", :type => "button", :value => _("Add task")}
      = DesignBox.boxb
      %br/
      = DesignBox.boxt(_("Information"), 350)
      %table.form
        %tbody
          %tr
            %td.tdt= _("Added by")
            %td= link_to_user(@project.added_user)
          %tr
            %td.tdt= Project.human_attribute_name(:created_at)
            %td= (@project.created_at ? l(@project.created_at, :format => :long) : "")
          %tr
            %td.tdt= Project.human_attribute_name(:price_per_hour)                                                            |
            %td= format_number @project.price_per_hour
          %tr
            %td.tdt= Project.human_attribute_name(:price_per_hour_transport)
            %td= format_number @project.price_per_hour_transport
          - if @project.deadline_at
            %tr
              %td.tdt= _("Deadline")
              %td= l(@project.deadline_at.to_date)
      = DesignBox.boxb
    %td{:style => "vertical-align: top; padding-left: 15px;"}
      = DesignBox.boxt User.model_name.human(:count => 2), 350
      %div{:style => "padding-bottom: 15px;"}
        %input{:onclick => "modal({title: '#{_("Assign user to task")}', url: '#{search_users_path(:ajaxsearch => true, :jscallback => :project_show_assign_user_choose)}'});", :type => "button", :value => _("Assign user")}/
      #divassignedusers
        = render "assigned_users"
      = DesignBox.boxb
      
      %br/
      
      = DesignBox.boxt _("Autoassigned users"), 350
      %div{:style => "padding-bottom: 15px;"}
        = link_to _("Add autoassigned user"), new_project_project_autoassigned_user_path(@project), :class => "button"
      = render "autoassigned_users"
      = DesignBox.boxb

%br/

= DesignBox.boxt(_("Tasks"))
%table.list
  %thead
    %tr
      %th= _("Task")
      %th= _("Author")
      %th= _("Status")
      %th= _("Date")
  %tbody
    - count = 0
    - @tasks.each do |task|
      - next unless can?(:show, task)
      - count += 1
      %tr
        %td= link_to_task task
        %td= link_to_user task.user
        %td= task.translated_state
        %td= l(task.created_at.to_date) if task.created_at
    - if count <= 0
      %tr
        %td.error{:colspan => 2}
          = _("No tasks were found.")
= DesignBox.boxb
