= simple_form_for [invoice_line.invoice, invoice_line] do |f|
  = f.input :title, autofocus: true
  = f.input :quantity, input_html: {data: {autonumeric: true}}
  = f.input :amount, input_html: {data: {autonumeric: true}}
  = f.submit _("Save"), class: ["mobile-button", "mobile-button-primary"]

  - if can?(:destroy, invoice_line) && !invoice_line.new_record?
    = link_to _("Delete"), [invoice_line.invoice, invoice_line], method: :delete, data: {confirm: _("Are you sure?")}, class: ["mobile-button", "mobile-button-danger"]

