= design_box t("details"), 500 do
  = simple_form_for [@invoice, invoice_line] do |f|
    = f.input :title, autofocus: true
    = f.input :quantity, input_html: {data: {autonumeric: true}}
    = f.input :amount, input_html: {data: {autonumeric: true}}
    = f.submit t("save")
