- content_for(:header_title){ _("Sign in") }

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = design_box t("enter_details"), 550 do
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false, label: _("Password")
    = f.input :remember_me, as: :boolean, label: _("Remember me") if devise_mapping.rememberable?
    = f.button :submit, _("Sign in")

= render "devise/shared/links"
