- content_for(:header_title) { t(".sign_in") }

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = design_box t("enter_details"), 550 do
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false, label: t(".password")
    = f.input :remember_me, as: :boolean, label: t(".remember_me") if devise_mapping.rememberable?
    = f.button :submit, t(".sign_in")

= render "devise/shared/links"
