%h2= _("Sign in")

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = DesignBox.boxt _("Enter details"), 450
  = f.input :email, required: false, autofocus: true
  = f.input :password, required: false
  = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  = f.button :submit, _("Sign in")
  = DesignBox.boxb

= render "devise/shared/links"
