= DesignBox.boxt _("Enter details"), 400
= simple_form_for [project_autoassigned_user.project, project_autoassigned_user] do |f|
  = f.input :user_id, collection: users_collection, label: User.model_name.human, autofocus: true
  = f.submit _("Save")
= DesignBox.boxb
