= design_box _("Details"), 500 do
  = simple_form_for invoice_group do |f|
    = f.input :name, autofocus: true
    = f.submit _("Save")

    - unless invoice_group.new_record?
      = link_to _("Delete"), invoice_group, class: "button", method: :delete, data: {confirm: _("Are you sure?")}
