= design_box t("details"), 500 do
  = simple_form_for invoice_group do |f|
    = f.input :name, autofocus: true
    = f.submit t("save")

    - unless invoice_group.new_record?
      = link_to t("delete"), invoice_group, class: "button", method: :delete, data: {confirm: t("are_you_sure")}
