- content_for(:header_title) { InvoiceGroup.model_name.human(count: 2) }
- if can? :new, InvoiceGroup
  - content_for(:header_right) { link_to _("Add new"), new_invoice_group_path, class: "mobile-button-header" }

= simple_search_form_for @ransack, @ransack_params do |f|
  = f.input :name_cont
  = f.submit _("Filter"), class: "mobile-button-primary"

%table.mobile-table.list
  %thead
    %tr
      %th= sort_link @ransack, :name
  %tbody
    - @invoice_groups.each do |invoice_group|
      %tr
        %td= link_to_invoice_group invoice_group
    - if @invoice_groups.none?
      %tr
        %td.error{colspan: 1}
          = _("No groups were found.")
