- content_for(:header_title){ InvoiceGroup.model_name.human(count: 2) }

- if can? :new, InvoiceGroup
  = link_to t("add_new"), new_invoice_group_path, class: "button"
  %br
  %br

= design_box t("filter"), 450 do
  = simple_search_form_for @ransack, @ransack_params do |f|
    = f.input :name_cont
    = f.submit t("filter")

%br

= design_box InvoiceGroup.model_name.human(count: 2), 500 do
  %table.list
    %thead
      %tr
        %th= sort_link @ransack, :name
    %tbody
      - @invoice_groups.each do |invoice_group|
        %tr
          %td= link_to_invoice_group invoice_group
      - if @invoice_groups.none?
        %tr
          %td.error{colspan: 1}
            = _("No groups were found.")
