- content_for(:header_title){ t(".show_invoice_group", name: @invoice_group.name) }

- if can? :edit, @invoice_group
  = design_box t("actions"), 350 do
    = link_to t("edit"), [:edit, @invoice_group], class: "button"

%br

= design_box t("details"), 500 do
  %table.form
    %tbody
      %tr
        %td.tdt= InvoiceGroup.human_attribute_name(:name)
        %td= @invoice_group.name

%br

= design_box Invoice.model_name.human(count: 2), 500 do
  - if can? :new, Invoice
    = link_to t(".add_invoice"), new_invoice_path(invoice: {invoice_group_id: @invoice_group.id}), class: "button"
    %br
    %br

  %table.list
    %thead
      %tr
        %th= sort_link @ransack, :name
        %th= sort_link @ransack, :amount
    %tbody
      - @invoices.each do |invoice|
        %tr
          %td= link_to_invoice invoice
          %td= format_number invoice.amount
      - if @invoices.none?
        %tr
          %td.error{colspan: 2}= t(".no_invoices_has_been_added_for_this_group")

%br

= will_paginate @invoices
