- content_for(:header_title){ _("Show invoice-group: %{name}", name: @invoice_group.name) }

- if can? :edit, @invoice_group
  - content_for(:header_right) { link_to _("Edit"), [:edit, @invoice_group], class: "mobile-button-header" }

= mobile_tabs do |tabs|
  - tabs.tab id: "tab-details", icon: "/assets/icons/list.png", active: true
  - tabs.tab id: "tab-invoices", icon: "/assets/icons/list.png", label: @invoice_group.invoices.count

#tab-details
  %h2= _("Details")
  %table.mobile-table.form
    %tbody
      %tr
        %td.tdt= InvoiceGroup.human_attribute_name(:name)
        %td= @invoice_group.name

#tab-invoices
  %h2= Invoice.model_name.human(count: 2)
  = link_to _("Add invoice"), new_invoice_path(invoice: {invoice_group_id: @invoice_group.id}), class: "mobile-button" if can? :new, Invoice

  %table.mobile-table.list
    %thead
      %tr
        %th= sort_link @ransack, :name
        %th= sort_link @ransack, :amount
    %tbody
      - @invoices.each do |invoice|
        %tr
          %td= link_to_invoice invoice
          %td= format_number invoice.amount
      - if @invoices.none?
        %tr
          %td.error{colspan: 2}= _("No invoices has been added for this group.")

  %br
  = will_paginate @invoices
