= _("Hello %{user_name}", user_name: @user.name)
%br/
%br/

= sprintf(_("A new comment has been written to the task '%s'."), @task.name)
%br/
%br/

%b
  = _("Author")
  \:
%br/

= @author.name
%br/
%br/

%b= Task.model_name.human
%br/
%a{href: @task_url}= @task_url
%br/
%br/

%b= Comment.model_name.human
%br/
= @comment.comment.html_safe
