= t(".hello_user_name", user_name: @user.name)
%br
%br

%b= t(".task_name")
%br
= @task.name
%br
%br

- if @task.user
  %b= t(".task_author")
  %br
  = @task.user.name
  %br
  %br

- if @user_assigned_by
  %b= t(".assigned_by")
  %br
  = @user_assigned_by.name
  %br
  %br

%b= Task.model_name.human
%br
= link_to @task_url, @task_url
%br
%br
%b= Task.human_attribute_name(:description)
%br
= @task.description.to_s.html_safe
