- content_for(:header_title){ _("Search for organizations") }

= design_box t("enter_criteria"), 350 do
  = simple_search_form_for @ransack, @ransack_params do |f|
    = f.input :name_cont
    = f.input :customer_eq, collection: form_boolean_collection
    = f.input :creditor_eq, collection: form_boolean_collection
    = link_to _("Add new organization"), new_organization_path, class: "button"
    = f.submit t("search")

%br

= design_box t("results"), 500 do
  %table.list
    %thead
      %tr
        %th= sort_link @ransack, :name
        %th= sort_link @ransack, :email
    %tbody
      - @organizations.each do |organization|
        %tr
          %td= link_to_organization organization
          %td= mail_to organization.email if organization.email?
      - if @organizations.none?
        %tr
          %td{colspan: 1, class: "error"}
            = _("No organizations were found.")

%br

= will_paginate @organizations
