- content_for(:header_title){ t(".show_organization_with_name", name: @organization.name) }

= design_box t("actions"), 350 do
  = link_to t(".edit_organization"), edit_organization_path(@organization), class: "button"
  = link_to t(".add_project"), new_project_path(project: {organization_id: @organization.id}), class: "button"

%br

= design_box t("details"), 500 do
  %table.form
    %tbody
      %tr
        %td= Organization.human_attribute_name(:email)
        %td= mail_to @organization.email if @organization.email?
      %tr
        %td= Organization.human_attribute_name(:customer)
        %td= @organization.customer? ? t("yes") : t("no")
      %tr
        %td= Organization.human_attribute_name(:creditor)
        %td= @organization.creditor? ? t("yes") : t("no")

      - [:name, :vat_no, :delivery_address, :delivery_zip_code, :delivery_city, :delivery_country, :invoice_address, :invoice_zip_code, :invoice_city, :invoice_country].each do |column|
        %tr
          %td= Organization.human_attribute_name(column)
          %td= @organization.__send__(column)
      %tr
        %td= Organization.human_attribute_name(:payment_info)
        %td= simple_format_default_args @organization.payment_info

%br

= design_box Project.model_name.human(count: 2), 350 do
  %table.list
    %thead
      %tr
        %th= Project.model_name.human
    %tbody
      - @organization.projects.each do |project|
        %tr
          %td= link_to_project project
      - if @organization.projects.none?
        %tr
          %td{colspan: 1, class: "error"}
            = t(".no_projects_has_been_added_for_this_organization")
