<%
  if !signed_in?
    flash[:warning] = (_("You need to be logged in to view this page."))
    redirect_to :back
  end
  
  timelogs = Timelog.all
  
  if @search[:project_ids].present?
    timelogs = timelogs.where("timelogs.project_id IN (?)", @search[:project_ids].to_s.split(";"))
  end
  
  content_for(:header_title){ _("Work-status") }
%>

<form method="get" onsubmit="return do_filter();">
<%= Knj::Web.hiddens([{:name => :choice, :value => :dofilter},{:name => :projects}]).html_safe %>

<%=DesignBox.boxt(_("Enter criteria"), 350)%>
  <table class="form">
    <%= Knj::Web.inputs([{
      :title => _("Date from"),
      :name => "search[date_from]",
      :value => @date_from.out(:time => false)
    },{
      :title => _("Date to"),
      :name => "search[date_to]",
      :value => @date_to.out(:time => false)
    },{
      :title => _("Project"),
      :name => "search[project_ids]",
      :value => nil,
      :opts => knjrbfw_opts(Project.all.order(:name)),
      :multiple => true,
      :size => 15,
      :values => @search[:project_ids].to_s.split(";")
    }]).html_safe %>
    <tr>
      <td colspan="2" class="buttons">
        <input type="submit" value="<%=_"Filter"%>" />
      </td>
    </tr>
  </table>
<%=DesignBox.boxb%>

</form>

<script type="text/javascript">
  function do_filter(){
    $("input[name=projects]").val(select_values({sel: $("#selprojects"), selected: true, expl: ";"}));
    return true;
  }
</script>

<br />

<%=DesignBox.boxt(_("Results"), 700)%>
  <table class="list">
    <thead>
      <tr>
        <th><%=_"Date"%></th>
        <th class="tdr"><%=_"Hours"%></th>
        <th class="tdr"><%=_"Hours driving"%></th>
        <th class="tdr"><%=_"Earned"%></th>
        <th class="tdr"><%=_"Driving earned"%></th>
        <th class="tdr"><%=_"Driving length"%></th>
      </tr>
    </thead>
    <tbody>
    <%
      each_year do |year|
        if @date_from.year != year
          %>
            <tr>
              <td colspan="6">
                <h2><%= year %></h2>
              </td>
            </tr>
          <%
        end
        
        each_month_in_year(year) do |month|
          month_date = Datet.in("#{year}-#{month}-1")
          
          if @date_from.year != @date_to.year or @date_from.month != @date_to.month
            %>
              <tr>
                <td colspan="6">
                  <h3><%= month %></h3>
                </td>
              </tr>
            <%
          end
          
          each_date_in_month_and_year(month, year) do |date|
            timelogs_date = timelogs.where("timelogs.date = ?", date.to_date).joins(:task => :project)
            
            hours = timelogs_date.sum("TIME_TO_SEC(timelogs.time)") / 3600.0
            hours_tarnsport = timelogs_date.sum("TIME_TO_SEC(timelogs.time_transport)") / 3600.0
            earned = timelogs_date.sum("TIME_TO_SEC(timelogs.time) * projects.price_per_hour") / 3600.0
            earned_transport = timelogs_date.sum("TIME_TO_SEC(timelogs.time_transport) * projects.price_per_hour_transport") / 3600.0
            transport_length = timelogs_date.sum(:transport_length)
            
            %>
              <tr<%if date.to_date == Time.zone.today.to_date; print " style=\"font-weight: bold;\""; end%>>
                <td>
                  <%= l(date.to_date, :format => :short) %>
                </td>
                <td class="tdr">
                  <%= Knj::Locales.number_out(hours, 1) %>
                </td>
                <td class="tdr">
                  <%= Knj::Locales.number_out(hours_tarnsport, 1) %>
                </td>
                <td class="tdr">
                  <%= Knj::Locales.number_out(earned, 0) %>
                </td>
                <td class="tdr">
                  <%= Knj::Locales.number_out(earned_transport, 0) %>
                </td>
                <td class="tdr">
                  <%= Knj::Locales.number_out(transport_length, 0) %>
                </td>
              </tr>
            <%
          end
        end
      end
    %>
    </tbody>
  </table>
<%=DesignBox.boxb%>

<br />

<%=DesignBox.boxt(_("Overview"), 450)%>
  <table class="form">
    <%
      timelogs_total = timelogs.joins(:task => :project)
      timelogs_total = timelogs_total.where("timelogs.date >= ?", @date_from.to_time.to_date)
      timelogs_total = timelogs_total.where("timelogs.date <= ?", @date_to.to_time.to_date)
      
      hours = timelogs_total.sum("TIME_TO_SEC(timelogs.time)") / 3600.0
      hours_transport = timelogs_total.sum("TIME_TO_SEC(timelogs.time_transport)") / 3600.0
      earned = timelogs_total.sum("TIME_TO_SEC(timelogs.time) * projects.price_per_hour") / 3600.0
      earned_transport = timelogs_total.sum("TIME_TO_SEC(timelogs.time_transport) * projects.price_per_hour_transport") / 3600.0
      earned_total = earned + earned_transport
      transport_length = timelogs_total.sum(:transport_length)
      
      hours_total = hours + hours_transport
      
      tax_40 = earned_total * 0.4
    %>
    <%= Knj::Web.inputs([{
      :title => _("Hours"),
      :type => :info,
      :align => :right,
      :value => Knj::Locales.number_out(earned, 2)
    },{
      :title => _("Transport"),
      :type => :info,
      :align => :right,
      :value => Knj::Locales.number_out(earned_transport, 2)
    },{
      :title => _("Total earned"),
      :type => :info,
      :align => :right,
      :value => Knj::Locales.number_out(earned_total, 2)
    },{
      :title => _("Tax") + " (40%)",
      :type => :info,
      :align => :right,
      :value => Knj::Locales.number_out(tax_40, 2)
    },{
      :title => _("Total after tax"),
      :type => :info,
      :align => :right,
      :value => Knj::Locales.number_out(earned_total - tax_40.to_f, 2)
    },{
      :title => _("Total transport"),
      :type => :info,
      :align => :right,
      :value => Knj::Locales.number_out(transport_length, 0)
    }]).html_safe %>
  </table>
<%=DesignBox.boxb%>

<br />

<%=DesignBox.boxt(_("Projects"), 450)%>
  <table class="list">
    <thead>
      <tr>
        <th><%=_"Project"%></th>
        <th class="tdr"><%=_"Hours"%></th>
        <th class="tdr"><%=_"Transport"%></th>
        <th class="tdr"><%=_"Earned"%></th>
      </tr>
    </thead>
    <tbody>
    <%
      timelogs_total.group("projects.id").order("projects.name").each do |timelog|
        project = timelog.task.project
        
        timelogs_project = timelogs_total.where("projects.id = ?", project.id)
        hours = timelogs_project.sum("TIME_TO_SEC(timelogs.time)") / 3600.0
        hours_transport = timelogs_project.sum("TIME_TO_SEC(timelogs.time_transport)") / 3600.0
        earned = timelogs_project.sum("TIME_TO_SEC(timelogs.time) * projects.price_per_hour") / 3600.0
        earned_transport = timelogs_project.sum("TIME_TO_SEC(timelogs.time_transport) * projects.price_per_hour_transport") / 3600.0
        
        %>
          <tr>
            <td>
              <%= link_to_project project %>
            </td>
            <td class="tdr">
              <%= Knj::Locales.number_out(hours, 1) %>
            </td>
            <td class="tdr">
              <%= Knj::Locales.number_out(hours_transport, 1) %>
            </td>
            <td class="tdr">
              <%= Knj::Locales.number_out(earned + earned_transport, 2) %>
            </td>
          </tr>
        <%
      end
    %>
    </tbody>
  </table>
<%=DesignBox.boxb%>