- content_for(:header_title){ _("Your profile") }

= DesignBox.boxt(_("Enter details"), 600)
= simple_form_for current_user, url: profile_update_path, html: {autocomplete: "off"} do |f|
  = hidden_field_tag "passwd_md5", ""

  = f.input :name, autofocus: true
  = f.input :email, hint: _("The email that you want notifications and stuff sent to.")

  .input.password
    = label_tag _("Password")
    = password_field_tag "texpasswd", "", autocomplete: "off"
    %span.hint= _("You can enter a new password to change it.")

  = f.submit _("Save")
= DesignBox.boxb

%br/

= DesignBox.boxt _("Task-list"), 600
%table.list
  %thead
    %tr
      %th= sort_link @ransack, :name
      %th= sort_link @ransack, :project_name, Project.model_name.human
  %tbody
    - @tasks.each do |task|
      %tr
        %td= link_to_task task
        %td= link_to_project task.project
    - if @tasks.none?
      %tr
        %td.error{colspan: 2}
          = _("No tasks has been added to your list.")
= DesignBox.boxb

%br/
= will_paginate @tasks
