- content_for(:header_title) { Account.model_name.human(count: 2) }

- if can? :new, Account
  = design_box t("options"), 350 do
    = link_to _("New account"), new_account_path, class: "button" if can? :new, Account

  %br
  %br

= design_box t("filter"), 500 do
  = simple_search_form_for @ransack, @ransack_values do |f|
    = f.input :name_cont
    = f.submit t("filter")

%br
%br

= design_box t("results"), 800 do
  %table.list
    %thead
      %tr
        %th= sort_link @ransack, :name
    %tbody
      - @accounts.each do |account|
        %tr
          %td= link_to_account account
      - if @accounts.empty?
        %tr
          %td{colspan: 1}= t(".no_accounts_were_found")

= will_paginate @accounts
